{% extends "base.html" %}

{% block content %}

Reinhardt survived the war unscathed, unlike many Gypsies who perished in the Porajmos, the Nazi regime's systematic murder of several hundred thousand European Gypsies. He was well aware of the dangers he and his family faced, and made several unsuccessful attempts to escape occupied France. Part of the explanation of his survival is that he enjoyed the protection of (surreptitiously) jazz-loving Nazis such as Luftwaffe officer Dietrich Schulz-Köhn, nicknamed "Doktor Jazz".

<blockquote>{{block.super}}</blockquote>



{% endblock %}