{% extends "base.html" %}

{% block content %}
Reinhardt was attracted to music at an early age, playing the violin at first. At the age of 12, he received a banjo-guitar as a gift. He quickly learned to play, mimicking the fingerings of musicians he watched. His first known recordings (in 1928) were of him playing the banjo. During this period he was influenced by two older gypsy musicians, the banjoist Gusti Mahla and the guitarist Jean "Poulette" Castro. By the age of 13, Reinhardt was able to make a living playing music. As a result, he received little formal education and acquired the rudiments of literacy only in adult life.
{% endblock %}